[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
mypy = "*"
darglint = "*"
black = "*"
responses = "*"
types-requests = "*"
pytest = "*"

[packages]
requests = "*"
dataclasses-json = "*"

[requires]
python_version = "3.8"

[scripts]
isort = "isort . -c"
flake8 = "flake8 doccano_api_client"
darglint = "darglint"
black = "black ."
test = "python -m pytest"
